*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: 'iranyekanwebregular', Courier, monospace;
}

        /* header section  */

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1170px;
    margin: auto;
    padding: 10px 0 20px ;
    background-color: rgba(255 ,255 ,255 , 0.72);
      backdrop-filter: blur(20px);
    position: sticky;
    top: 0;
    transition: all 0.3s ease ;
    font-family: YekanBakhMedium;
}
.white-logo{
    margin:11px 28px ;
}
.header-ul{
    display: flex;
    list-style: none;
}
.header-ul li {
    font-size: 14px;
    margin: 0 15px;
}
.header-ul li a {
    cursor: pointer;
    text-decoration: none;
    color: #303030;
}
.header-ul > li:last-child a{
    color: #28457b;
    background-color: rgba(232, 239, 254, 0.6);
    border-radius: 20px;
    padding: 10px 27px;
    margin-right: 20px;
    font-family: YekanBakhBold;
}
.header-ul > li:last-child a:hover{
    background-color: #fbf6d9;
}
.more-menu{
    display: flex;
}
.more-menu img{
    width: 8px;
    margin-right: 8px;
}
.hamburger-icon{
    width: 27px;
    display: none;
}

.hamburger-menu{
    position: fixed;
    right: 0;
    top: 0;
    background-color: #fff;
    z-index: 100;
    width: 100%;
    font-family: iranyekanwebmedium;
    transform: translateY(-100%) ;

}
.cross-icon{
    width: 100%;
    text-align: left;
    padding:  25px 0;
}

.cross-icon img{
    width: 20px;
    margin-left: 30px;
}
.hamburger-menu-items{
    padding: 10px 30px;
}
.hamburger-menu-items ul {
    list-style: none;
}
.hamburger-menu-items a{
    text-decoration: none;
    color: black;
    display: inline-block;
    padding: 3px 0;
}
.hamburger-menu-items div{
    height: 1px;
    background-color: #dfe1e4;
    width: 90%;
    margin: 8px 0;
}
.more-item{
    display: flex;
    background-color: #eee;
    padding: 20px 50px;
    align-items: center;
}
.more-item img{
    width: 15px;
    margin-right: 5px;
}
.more-item a{
    text-decoration: none;
    color: #28457b;
    font-size: 0.85rem;
}

.show-hamburger-menu{
    animation: fadeInDown 0.25s forwards;
}

#show-more-menu{
    position: relative;
}
#show-more-menu ul{
    position: absolute;
    top: 0;
    left:-35px;
    background-color: #fff;
    border-top:5px solid #f8e88b ;
    border-radius: 12px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 29px;
    list-style: none;
    width: 123px;
    font-family: YekanBakhMedium;
    display: none;
}
#show-more-menu li{
    margin: 0;
    padding: 10px 16px;
    font-size: 14px;
    color: black;
}
#show-more-menu li:hover{
    background-color: rgba(232, 239, 254, 0.6);
}

#show-product-menu{
    position: relative;
}
.product-menu{
    position: absolute;
    top: 0;
    left: -135px;
    background-color: #fff;
    display: flex;
    justify-content: flex-start;
    width: 372px;
    border-top:5px solid #f8e88b ;
    border-radius: 12px;
    padding-top: 5px;
    margin-top: 29px;
    display: none;
}
.product-menu a p:first-child{
    color: black;
    font-size: 0.95rem;
}
.product-menu a p:last-child{
    color: black;
    font-size: 0.7rem;
}
.product-menu a{
    margin: 10px;
    display: block;
    padding: 10px;
    border-radius: 5px;
}
.product-menu a:hover{
    background-color: rgba(232, 239, 254, 0.6)
}

        /* banner section  */

.banner{
    width: 1170px;
    padding: 154px 60px 80px;
    background-image: linear-gradient(135deg , #21254e , #2e4a83);
    border-radius: 20px;
    margin:20px auto;
    display: flex;
    justify-content: space-between;
}
.banner-text h3{
    font-family: YekanBakhHeavy;
    font-size: 2rem;
    color: #fff;
    font-family: YekanBakhHeavy;

}
.banner-text p{
    color: #fff;
    font-size: 1.15rem;
    margin: 25px 0;
    line-height: 2.5rem;
    font-family: YekanBakhMedium;
}

.banner-image img{
    width: 500px;
}
.banner-button{
    margin-top: 60px;
}

.banner-text .register{
    background-color: #ffd900;
    font-size: 1rem;
    font-family: YekanBakhBold;
    padding: 6px 14px;
    border: none;
    border-radius: 10px;
    text-decoration: none;
    color: #000;
    margin-left: 10px;
   
}
.banner-text .login{
    font-size: 1rem;
    font-family: YekanBakhBold;
    color: #fff;
    background-color: #435a8a;
    padding: 6px 14px;
    border: none;
    border-radius: 10px;
    text-decoration: none;
}
.go-down{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: 58px;
}
.go-down div{
    background-image: url(../images/arrowbottom.svg);
    width: 164px;
    height: 78px;
}
.go-down img{
    width: 15px;
    position: relative;
    top: -60px;
}

          /* main cards section  */

.online-payment{
    width: 1170px;
    margin: auto;
    display: flex;
    align-items:flex-start;
    justify-content: space-between;
}

.online-payment img{
    width: 550px;
    height: 500px;
}
.section-text{
    margin: 40px 0;
    width: 585px;
    height: 483px;

}
.section-text h2{
    color: #747480;
    font-family: YekanBakhMedium;
    font-weight: 500;
    font-size: 1.4rem ;
    margin: 20px 0 5px;
} 
.section-text h3{
    color: #303030;
    font-family: YekanBakhHeavy;
    font-weight: 600;
    font-size: 2rem;
    margin: 5px 0 10px;
}
.section-text-p{
    color: #303030;
    font-family:YekanBakhMedium ;
    text-align: justify;
    line-height: 40px;
    border-bottom: 1px solid #dfe1e4;
    padding-bottom: 20px;
    margin-top: 16px;
}
.section-links{
    margin-top: 40px;
    display: flex;
}
.section-links .first-button{
    font-size: 0.9rem;
    font-family: iranyekanwebmedium;
    color: #000;
    background-color: #ffd900;
    padding: 6px 14px;
    border: none;
    border-radius: 10px;
    margin-left: 10px;
    text-decoration: none;
}
.section-links .second-button{
    font-size: 0.9rem;
    font-family: iranyekanwebmedium;
    color: #28467b;
    background-color: rgba(232,239 ,254 , 0.7);
    padding: 6px 14px;
    border-radius: 10px;
    text-decoration: none;
    align-items: center;
    
}
.section-links .second-button img{
    width: 18px;
    height: 15px;
    margin-right: 5px;

}
#zarincard-image{
    width: 410px;
    height: 370px;
}
#zarinpluas-image{
    width: 450px;
    height: 410px;
}

         /* attributes section */

.attributes{
    display: flex;
    justify-content:space-between;
    margin: auto;
    width: 1170px;
}
.attributes .definition{
    width: 390px;
    margin-top: 50px;
}
.attributes .definition h3{
    font-family: YekanBakhHeavy;
    font-size: 32px;
}
.attributes .definition p{
    width: 305px;
    color: #303030;
    margin-top: 48px;
    font-family: YekanBakhMedium;
    font-size: 16px;
    line-height: 40px;
    text-align: justify;
}
.attributes .items{
    display:grid ;
    grid-template-columns: 1fr 1fr;
    padding: 30px;
    /* width:780px; */
    /* height: 553px; */
}
.items .item {
    padding: 18px 20px 20px 0;
}
.items .item div{
    display: flex;
    align-items: center;
}
.items h4{
    font-size: 24px;
    font-family:YekanBakhHeavy ;
    margin-right: 20px;
}
.items .item p {
    font-size: 16px;
    font-family: YekanBakhMedium;
    line-height: 36px;
    max-width: 317px;
    margin: 20px 0 20px 10px;
    color: #303030;
}
.items .item img{
    width: 60px;
    height: 60px;
}
.first-item{
    border-left: 1px solid #e0e4e7;
    border-bottom:  1px solid #e0e4e7;
}
.second-item{
    border-bottom:  1px solid #e0e4e7;
}
.third-item{
    border-left:  1px solid #e0e4e7;
}

             /* start box section */

.start-box{
    /* background-color: #28467b; */
    margin: auto;
    width: 1170px;
    height: 220px;
    border: 1px solid #e0e4e7;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    justify-content: center;
}
.start-box h2{
    font-size: 28px;
    color: #303030;
    font-family: YekanBakhHeavy;
}
.start-box p{
    font-size: 22px;
    color:#747480;
    font-family: YekanBakhMedium;
    margin-top: 10px;
}
.start-box a{
    font-family: iranyekanwebmedium;
    font-size: 14px;
    text-decoration: none;
    color:#000 ;
    background-color: #ffd900;
    min-height:28px ;
    line-height: 28px;
    padding: 4px 14px;
    border-radius: 10px;
    margin-top: 12px;
    cursor: pointer;
}

            /* support section */

.support{
    width: 1170px;
    height: 70px;
    padding: 0 30px;
    background-color: #fbf6f1;
    margin: 50px auto;
    display: flex;
    justify-content:space-between;
    align-items: center;
    border-radius: 35px;
}
.support-number{
    font-size: 1.5rem;
    font-family: YekanBakhHeavy;
}
#line{
    margin: 0 15px;
}
#phone-number{
    color: #21457f;
}
.support-request{
    display: flex;
    font-family: YekanBakhBold;
    font-size:24px;
}
.support-request a{
    text-decoration: none;
}
.support-request img{
    width: 20px;
    margin-right: 10px;
}

            /* footer section */

footer{
    display: flex;
    justify-content: space-between;
    width:1170px ;
    margin:auto ;
}
.footer-links{
    display: grid;
    grid-template-columns:repeat(4,1fr) ;
    width: calc(100% - 330px);   /*because that 330px is used for social medias*/
    margin-bottom: 50px;
    padding: 0 10px;
}
.footer-links p{
    font-size: 1.3rem;
    margin-bottom: 15px;
    font-family: YekanBakhHeavy;
    color: #303030;
}
.footer-links ul{
    list-style: none;
}
.footer-links li{
    padding: 8px 0;
}
.footer-links a{
    text-decoration: none;
    font-size: 1rem;
    font-family: iranyekanwebmedium;
    color: #000;
}
.social-media{
    width: 330px;
    padding: 0 30px;
    margin-bottom: 100px;
}
.social-media p{
    font-family:YekanBakhHeavy ;
    font-size: 1.3rem;
    color: #303030;
}
.social-media div{
    display: flex;
    margin-top: 20px;
}
.social-media a{
    background-color: #eff4fe;
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius:10px ;
    margin-left: 15px;
    cursor: pointer;
}


            /* key frames for header animations */

@keyframes fadeInDown {
    0%{
        opacity: 0;
        transform: translateY(-100%);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes showUp {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

            /* responsive */

@media (max-width:1200px){
    header{
        width: 940px;
    }
    .banner{
        width: 900px;
        padding: 60px 40px 120px;
    }
    .banner-image img{
        width: 430px;
    }
    .online-payment{
        width: 940px;
    }
    .attributes{
        flex-direction: column;
        width: 924px;
        padding: 0 8px;

    }
    .attributes .definition{
        width: 100%;
        margin-top: 10px;
    }
    .attributes .definition p{
        width: 100%;
        margin-top: 30px; 
    }
    .first-item, .second-item, .third-item, .fourth-item{
        border: none;
    }
    .items{
        width: 90%;
        padding: 30px;
    }
    .items .item {
        padding: 18px 0 20px 50px;
    }
    .start-box{
        width: 940px;
    }
    .support{
        width: 940px;
    }
    footer{
        width: 940px;
    }
}


@media (max-width:990px){
    header{
        width: auto;
        padding: 20px 60px;
    }
    .header-ul li:last-child{
        display: none;
    }
    .white-logo{
        margin: 0;
    }
    .header-ul li{
        margin: 0 10px;
    }
    .banner{
        width: auto;
        padding: 40px 40px 85px;
        margin-left: 35px;
        margin-right: 35px;
    }
    .banner-image img{
        display: none;
    }
    .banner-text{
        text-align: center;
    }
    .banner-text p {
        margin: 5px 0;
        font-size: 18px;
    }
    .banner-button{
        margin-top: 40px;
    }
    .online-payment{
        width: auto;
        flex-direction: column;
        align-items: center;
    }
    .section-text{
        width: 95%;
    }
    .attributes{
        width: auto;
        padding: 0 35px;
    }
    .items{
        width: auto;
    }
    .items .item{
        width: auto;
    }
    .start-box{
        margin: 0 38px;
        width: calc(100% - 76px)
    }
    .support{
        /* margin: 40px 60px; */
        width: calc(100% - 120px);
    }
    .support-request ,
     .support-number{
        font-size: 1.2rem;
    }
    footer{
        flex-direction: column;
        width: calc(100% - 60px);   /* 30 px for each side*/
    }
    footer .footer-links{
        width: 100%;
    }
    footer .social-media{
        padding: 0 10px;
    }
}


@media (max-width:768px){
    .header-ul{
        display:none;
    }
    header{
        width: auto;
        padding: 10px 10px;
    }
    .hamburger-icon{
        display: block;
    }
    .banner{
        margin-left: 8px;
        margin-right: 8px; 
    }
    .section-text{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .online-payment img{
        width: 460px;
        height: 480px;
    }
    .definition{
        text-align: center;
    }
    .attributes .definition h3{
        font-size: 1.6rem;
    }
    .items{
        width: 100%;
        padding: 50px 0;
    }
    .items .item{
        padding: 18px 0 20px 20px;
        width: auto;
    }
    .start-box{
        margin: 0 8px;
        width: calc(100% - 16px)
    }
    .support{
        flex-direction: column;
        align-items: flex-start;
        background: none;
    }
    .support-request{
        background-color: #fbf6f1;
        padding: 5px 20px;
        border-radius: 35px;
        margin-top: 20px;
        margin-right: -10px;
    }
    footer{
        width: calc(100% - 160px);
    }
    footer .footer-links{
        grid-template-columns: 1fr 1fr;
    }
     footer .footer-links div{
        margin-top: 25px;
     }
}


@media (max-width:575px) {
    .banner{
        padding: 80px 40px;
    }
    .banner-text h3{
        font-size: 1.2rem;
        text-align: right;

    }
    .banner-text p {
        text-align: justify;
    }
    .online-payment .section-image {
        display: none;
    }
    .section-text{
        width: 80%;
        padding: 0 10px;
    }
    .section-text h3{
        font-size: 1.5rem;
    }
    .attributes .items{
        padding: 50px 0;
        grid-template-columns: 1fr;
    }
    .items .item{
        padding: 18px 0;
    }
    .start-box{
        height: 180px;
    }
    .start-box h2{
        font-size: 1.2rem;
    }
    .start-box p{
        font-size: 1rem;
    }
    .support{
        width: calc(100% - 60px);
        padding: 0;
        margin: 50px 30px;
    }
    .support-number, .support-request{
        font-size:0.95rem;
    }
    footer{
        width: calc(100% - 60px);
        margin: 0 30px;
    }
    .footer-links p , .footer-links a{
        font-size: 0.9rem;
    }

}












